.btn-primary {
  color: #FFFFFF;
  background: #8996AE;
  opacity: 1;
  padding: 12px 22px;
  margin: 25px 0 20px 0;
  font-weight: lighter;
  transition: .3s ease;
  border-radius: 4px;
  font-size: 20px;
}

.btn-primary:hover {
  opacity: 0.7;
}
